.btn {
    border: none;
    outline: none;
    text-transform: uppercase;
    font-family: var(--font-bold);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.4rem;
    cursor: pointer;
}

.dark {
    background-color: var(--color-stroke);
    color: var(--color-primary); 
}

.light {
    background-color: var(--color-primary);
    color: var(--color-stroke); 
}

.btn .distance {
    margin-right: .5rem;
}

.lgBtn {
    font-size: 1.6rem;
    padding: 0.70rem 1rem;
}

.mdBtn {
    font-size: 1.2rem;
    padding: 0.75rem 1rem;
}

.smBtn {
    font-size: 1rem;
    padding: 0.1rem 0.5rem;
}